<% include ./partials/header %>
    
<div class="row text-center">
    <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="thumbnail">
            <h4><%= user.username %></h4>
            <% if(user.avatar){ %>
                <img src="<%= user.avatar %>"> 
            <% }else{ %>
                <img src="http://www.contribcity.com/images/dummy-profile-pic.png">
            <% } %>
            <div class="caption">
                <h4><%= user.firstName%> <%= user.lastName %></h4>
                <a href="mailto:<%= user.email %>"><%= user.email %></a>
                <p><%= user.bio %></p>
                <% if(currentUser && (user.id == currentUser.id || currentUser.isAdmin)){ %>
                    <a class="btn btn-warning btn-md editButton" role="button" data-toggle="collapse" href="#collapseComment" aria-expanded="false" aria-controls="collapseComment">Edit</a>
                    <div class="collapse commentPadding" id="collapseComment">
                        <form id="editProfileForm" action="/users/<%= user.id %>?_method=PUT" method="POST">
                            <div class="form-group">
                                <input class="form-control" type="text" disabled value="<%= user.username %>"/>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="user[firstName]" value="<%= user.firstName %>" placeholder="First Name"/>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="user[lastName]" value="<%= user.lastName %>" placeholder="Last Name"/>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="user[avatar]" value="<%= user.avatar %>" placeholder="Avatar URL"/>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="user[email]" value="<%= user.email %>" placeholder="Email"/>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control textForms" name="user[bio]" form="editProfileForm" rows="5" cols="70" placeholder="Bio"><%= user.bio %></textarea>
                            </div>
                            <% if(currentUser.isAdmin){ %>
                                <div class="form-group">
                                    Admin Status:<input class="form-control" type="number" name="user[isAdmin]" form="editProfileForm" value="<%= user.isAdmin %>" max="1" min="0">
                                </div>
                            <% } %>
                            <div class="form-group">
                                <button class="btn btn-success btn-sm" aria-hidden="true">Submit</button>
                            </div>
                        </form>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
    <div class="userThumbnailSpacing">
        <% things.forEach(function(thing){ %>
        <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="thumbnail userThingThumbnail">
                <a href="/things/<%= thing.id %>"><img src="<%= thing.image %>" id="userThumbnailImage"></a>
                <hr style="margin-bottom: 0;">
                <h4><a href="/things/<%= thing.id %>"><%= thing.name %></a></h4>
                <% for(var i = 0; i < (5 - thing.rating); i++){ %>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                <% } %>
                <% for(var i = 0; i < thing.rating; i++){ %>
                    <i class="fa fa-star" aria-hidden="true"></i>
                <% } %>
            </div>
        </div>
    <% }); %>
    </div>
</div>
    
<% include ./partials/footer %>