<% include ../partials/header %>

<header class="jumbotron">
    <div class="container">
        <h1>Welcome to Rate This Thing!</h1>
        <p>Check out all these cool things!</p>
        <p>
            <a class="btn btn-primary btn-large" href="/things/new">Add your own thing!</a>
        </p>
    </div>
</header>
<div class="row text-center thumbnailSpacing">
    <% things.forEach(function(thing){ %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail indexThumbnail">
                <img src="<%= thing.image %>" id="thumbnailImage"/>
                <hr style="margin: 10px 0 0 0;">
                <div class="caption" style="padding-top: 0;">
                    <h4><%= thing.name %></h4>
                </div>
                <p>
                    <a href="/things/<%= thing._id %>" class="btn btn-primary">More info</a>
                </p>
            </div>
        </div>
    <% }); %>
</div>
<div class="row text-center">
    <% if(pages && pages > 0){ %>
        <ul class="pagination text-center">
            <% if(currentPage == 1){ %>
                <li class="disabled"><a>First</a></li>
            <% }else{ %>
                <li><a href="/things">First</a></li>
            <% } %>
            
            <% if(currentPage == 1){ %>
                <li class="disabled"><a>«</a></li>
            <% }else{ %>
                <li><a href="/things?page=<%= Number(currentPage) - 1 %>">«</a></li>
            <% } %>
            
            <% var i = (Number(currentPage) > 5 ? Number(currentPage) - 4 : 1) %>
            <% if (i !== 1) { %>
                <li class="disabled"><a>...</a></li>
            <% } %>
            <% for (; i <= (Number(currentPage) + 4) && i <= pages; i++) { %>
                <% if (i == currentPage) { %>
                    <li class="active"><a><%= i %></a></li>
                <% } else { %>
                    <li><a href="/things?page=<%= i %>"><%= i %></a></li>
                <% } %>
                <% if (i == Number(currentPage) + 4 && i < pages) { %>
                    <li class="disabled"><a>...</a></li>
                <% } %>
            <% } %>
     
            <% if (currentPage == pages) { %>
                <li class="disabled"><a>»</a></li>
            <% } else { %>
                <li><a href="/things?page=<%= Number(currentPage) + 1 %>">»</a></li>
            <% } %>
     
            <% if (currentPage == pages) { %>
                <li class="disabled"><a>Last</a></li>
            <% } else { %>
                <li><a href="/things?page=<%= pages %>">Last</a></li>
            <% } %>
        </ul>
    <% } %>
</div>
    
<% include ../partials/footer %>