<% include ../partials/header %>

<div class="row">
    <div class="col-md-3">
        <div class="list-group">
            <div id="map"></div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="thumbnail">
             <img class="image-responsive" src="<%= thing.image %>"/>
             <div class="caption-full">
                 <h4 class="pull-right">
                     Overall Rating: 
                     <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                     <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                     <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                     <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                     <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                 </h4>
                 <h4><a><%= thing.name %></a></h4>
                 <p><%= thing.description %></p>
                 <p><em>Submitted By: <%= thing.authour.username %>, <%= moment(thing.created).fromNow() %></em></p>
                 <% if(currentUser && thing.authour.id.equals(currentUser._id)){ %>
                     <a href="/things/<%= thing._id %>/edit" class="btn btn-warning">Edit</a>
                     <form class="deleteForm" action="/things/<%= thing._id %>?_method=DELETE" method="POST">
                         <button class="btn btn-danger">Delete</button>
                     </form>
                 <% } %>
             </div>
        </div>
        <div class="well">
            <div class="text-right">
                <a class="btn btn-success" href="/things/<%= thing._id %>/comments/new">Add a new comment!</a>
            </div>
            <hr>
            <% thing.comments.forEach(function(comment){ %>
                <div class="row">
                    <div class="col-md-12">
                        <strong><%= comment.authour.username %></strong>
                        <span class="pull-right"><em><%= moment(comment.created).fromNow() %></em></span>
                        <p>
                            <%= comment.text %>
                        </p>
                        <% if(currentUser && comment.authour.id.equals(currentUser._id)){ %>
                            <a class="btn btn-xs btn-warning" href="/things/<%= thing._id %>/comments/<%= comment._id %>/edit">Edit</a>
                            <form class="deleteForm" action="/things/<%= thing._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                <input type="submit" value="Delete" class="btn btn-xs btn-danger">
                            </form>
                        <% } %>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</div>

<script>
    function initMap(){
        var lat = <%= thing.lat %>;
        var long = <%= thing.long %>;
        var mid = {lat: lat, lng: long};
        var map = new google.maps.Map(document.getElementById("map"), {
           zoom: 7,
           center: mid,
           scrollwheel: false
        });
        var content = "<strong><%= thing.name %><br/><%= thing.location %></strong><p><%= thing.description %>"
        var info = new google.maps.InfoWindow({
            content: content   
        });
        var marker = new google.maps.Marker({
            position: mid,
            map: map
        });
        marker.addListener("click", function(){
            info.open(map, marker);
        });
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdarDtOrQpMdSghvjCdT18_CkoQIZi-2Y&callback=initMap"></script>

<% include ../partials/footer %>